<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
    <h1>Pet Info</h1>
    <form method="POST" action="/add_pet">
        <label>Owner ID: 
            <input name="ownerId" required type="text"/>
        </label><br/>

        <label>Pet's name: 
            <input name="name" required type="text" />
        </label><br/>

        <label>Pet Type: 
            <input name="type" required type="text" />
        </label><br />

        <button type="submit">Add Pet</button>
    </form>
    </div>
</body>
</html>