<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
</head>
<body>  
    <h1>Log In</h1>
    <% if (errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
    <% } %>
    
    <form method="POST" action="/login">
        <label>Username: 
            <input name="username" required type="text" value="<%= username %>" />
        </label><br/>

        <label>Password: 
            <input name="password" required type="password" />
        </label><br/>

        <% if (authKeyRequired) { %>
            <label>Authentication Key:
                <input name="authKey" required type="text" />
            </label><br/>
        <% } %>

        <a href="/login_success"><button type="submit"><%= authKeyRequired ? 'Submit Authentication Key' : 'Log In' %></button></a>
    </form>
</body>
</html>