<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
</head>
<body>
    <h1>Pet added successfully!</h1>
    <p>let's view your pet!<p>
    <%= message %><br />
    <a href="/view_pet"><button>Proceed</button></a>
</body>
</html>