<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Preliminary Exam - Item Two</title>
</head>
<body>
  <h1>Signed up Successfully!</h1>
  <p>Message: <%= message %></p>
  <p>ID: <%= id %></p>
  <p>Code: <%= code %></p>
  <a href="/login"><button>Log In</button><a>
</body>
</html>
