<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
</head>
<body>
    <h1>Sign Up!</h1>    
    <label>Username: <input name="username" required type="account" /></label><br/>
    <label>Password: <input name="password" required type="account" /></label><br/>
    <a href="/item_one"><button>Start Exam</button></a>
</body>
</html>