<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
</head>
<body>
    <h1>I expected a better username..</h1>
    <p><%= message %></p><br />
    <a href="/add_pet"><button>Add pet!</button></a>
</body>
</html>