<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Preliminary Exam</title>
</head>
<body>
    <h1>Create a new username!</h1>
    <p>preferably something creative..</p>
    <form method="POST" action="/update_username" >
        <label for="newUsername">New Username:</label>
        <input type="text" id="newUsername" name="username" required />
        <button type="submit">Update Username</button>
    </form>

</body>
</html>
