<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
    <h1>User Count</h1>
    
        <p><%= message %></p>

    <form method="POST" action="logout">
        <button>Log Out</button>
    </form>
    </div>
</body>
</html>