<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preliminary Exam</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
    <h1>My Pets</h1>

    <% pets.forEach(function(pet) { %>
        Pet Name: <%= pet.name %>
        Type: <%= pet.type %>
    <% }); %>

    <p><%= message %></p>
    
    <a href="/all_pets"><button>View All Pets</button></a>
    </div>
</body>
</html>