* {
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: red;
}

body {
    display: inline-flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;     
    margin: 0;         
} 

.container {
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

input {
    text-align: left;
}

button {
    border: none;
    size: 150px;
    padding: 10px 20px;
    border-radius: 10px;
}